.pageWrapper{
  width: 90%;
  margin: 0 auto;
  gap: 2%;
  display: flex;
  align-items: start;
  flex-direction: row;
  }
  .mealscard{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .title{
      font-size: 45px;
      color: #B55D51;
      display: flex;
      align-items: center;
      /* margin-left: 1rem; */
      justify-content: start;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 4rem;
  }
  
  .titleCard{
      display: flex;
      margin-left: 3rem;
      width: 80%;
      align-items: center;
      margin: 0 auto;
      margin-top: -1.7rem;
      flex-direction: column;
  }
  .sidebar{
     width: 15%; 
  }
  .cardWrapper{
      transition: 0.2s ease-in-out;
  }
  .cardWrapper:hover{
      transform: scale(1.1);
      cursor: pointer;
      transition: 0.2s ease-in-out;
  }
  
  
  
  @media screen and (max-width : 1200px) {
  
   }
   
   @media screen and (max-width : 960px) {
   }
   
   @media screen and (max-width : 690px) {
  
      .pageWrapper{
        
          flex-direction: column;
          justify-content: start;
          align-items: start;
          }
          .sidebar{
              width: 100%; 
           }
  
  }
   
   @media screen and (max-width: 460px) {
  
      .pageWrapper{
        
          flex-direction: column;
          justify-content: start;
          align-items: start;
          }
          .sidebar{
              width: 100%; 
           }
  
   }
   
   @media screen and (max-width : 350px ) {
      .pageWrapper{
        
          flex-direction: column;
          justify-content: start;
          align-items: start;
          }
          .sidebar{
              width: 100%; 
           }
   }
  
  
  
   @media screen and (max-width : 300px ) {
      .pageWrapper{
        
          flex-direction: column;
          justify-content: start;
          align-items: start;
          }
          .sidebar{
              width: 100%; 
           }
  
   }
  
   @media screen and (max-width : 220px ) {
      .pageWrapper{
        
          flex-direction: column;
          justify-content: start;
          align-items: start;
          }
          .sidebar{
              width: 100%; 
           }
  
   }