.profileContainer {
    width: 50%;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border: 10px;
    box-shadow: 0px 4px 24px 0px rgba(123, 123, 123, 0.15);
    display: flex;
  }
  .profileImageIcon {
    width: 160px !important;
    height: 160px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 20px !important;
  }
  .socialMeadiContainer {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-top: 24px;
    margin-right: 15px;
  }
  .socialMediaWrapper {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socialMediaWrapper img {
    width: 20px;
    height: 20px;
  }
  .profileName {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .infoWrapper {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--gray-color);
  }
  .profileSessionsContainer {
    width: 90%;
    margin: 2% auto;
  }
  .profileEvent {
    color: var(--primary-color);
    font-size: 1.3em;
  }
  @media (max-width: 1350px) {
    .profileContainer {
      width: 70%;
    }
  }
  @media (max-width: 1350px) {
    .profileContainer {
      width: 90%;
    }
  }
  @media (max-width: 650px) {
    .profileContainer {
      flex-direction: column;
      text-align: center;
      height: 60%;
    }
    .profileImageIcon {
      width: 160px !important;
      height: 160px !important;
      margin-top: 24px !important;
      margin-bottom: 24px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .socialMeadiContainer {
      margin-left: auto;
      margin-top: 24px;
      margin-bottom: 24px;
      margin-right: auto;
    }
    .infoWrapper {
      margin-left: 0;
    }
    .profileSessionsContainer {
      width: 85%;
    }
  }