.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .card img {
    width: 80%;
   max-height: 15rem;
    border-radius: 50%;
    margin: 5px;
  }
  .view{
    color: #B55D51;
  }
  .view:hover{
    color: #b4695f;
    cursor: pointer;
  }
  
  .details {
    margin: 10px;
  }
  
  .details h2 {
    font-weight: 600;
  }
  
  .details p {
    font-weight: 300;
  }