.section{
    width: 100%;
    height: 23rem;
    gap: 1;
    background-color: #FFF0ED;
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title2{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.inputbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 40%;

}


.phrase{
    color: rgb(141, 137, 137);
    word-wrap: break-word;
    width: 100%;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.minititle{
    font-family:Arial, Helvetica, sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.8rem;
    color:#B55D51 ;
    font-weight: bolder;

}

.button{
    width: 100%;
    height: 3rem;
    border: none;
    color: white;
    background: #B55D51;
    border-radius: 15px;
}
.button:hover{
    cursor: pointer;
    background-color: #e18174;
}

@media (max-width:1196px) {
}

@media (max-width:1100px) {

  .section {
      display: flex;
      height: 28rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .phrase {
      height: 40%;
      line-height: 1.5em;
      font-size: 1em;
      letter-spacing: 0.1em;
      font-weight: 500;
  }

  .button{
    margin-bottom: 2rem;
}
.section{
    height: 28rem;
}

  .image {
      height: 60%;
      width: 60%;
  }

  .phrase {
      width: 90%;
  }

}

@media (max-width:818px) {

    .button{
        margin-bottom: 2rem;
    }
    .section{
        height: 28rem;
    }
}

@media (max-width:670px) {
  .phease {

      line-height: 1.3em;
      font-size: 1em;
      width: 90%;
  }
  .button{
    margin-bottom: 2rem;
}
.section{
    height: 28rem;
}

}

@media (max-width:530px) {
  .section {
      width: 100%;
      height: 28rem;
      align-items: center;
      justify-content: center;
  }
  .button{
    margin-bottom: 2rem;
}

}


@media (max-width:530px) {
.phrase{
  width: 90%;
}
.section{
    width: 100%;
    height: 35rem;
    align-items: center;
    justify-content: center;
}
.button{
    margin-bottom: 2rem;
}
.title{
    font-size: 1.8rem;
}
.title2{
    margin-left: -7rem;
}
}


@media (max-width:280px) {
    .phrase{
      width: 90%;
    }
    .section{
        width: 100%;
        height: 38rem;
    }
    .button{
        margin-bottom: 2rem;
    }
    .title{
        font-size: 1.8rem;
    }
    .title2{
        margin-left: 0;
    }
    
    }