/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */



@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #b55d4e;
    --secondary-color: #f4f7fe;
    --text-dark: #b55d4e;
    --text-light: #b55d4e;
    --extra-light: #ffffff;
}

/* body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
} */

.sectionContainer{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 7rem;
  text-align: center;
}

.header {
  margin-bottom: 4rem;
}

.header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.titletestimonial {
  font-family: 'Roboto';
  font-size: 2.8rem;
  color: #B55D51;
}

.testimonials__grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: var(--extra-light);
  border-radius: 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card i {
  font-size: 2.5rem;
  color: gold;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card hr {
  width: 40px;
  margin: auto;
  color: var(--text-light);
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
}

.card .name {
  font-size: .9rem;
  font-weight: 400;
  color: var(--text-light);
  transition: .3s;
}

.card .name:hover {
  color: var(--primary-color);
}

.footer h4 {
  font-family: 'Noto Serif', serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer p {
  max-width: 450px;
  margin: auto;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.footer button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: .8rem;
  font-weight: 600;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .testimonials__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }
  .titletestimonial{
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .testimonials__grid {
      grid-template-columns: repeat(1, 1fr);
  }
  .titletestimonial{
    font-size: 1.8rem;
  }
}