.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  width: 650px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.userCard:before {
  content: '';
  position: absolute;
  height: 300%;
  width: 173px;
  background: #b55d4e;
  top: -60px;
  left: -125px;
  z-index: 0;
  transform: rotate(17deg);
}

.userCardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.userCardImg img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.userCardInfo {
  text-align: center;
}

.userCardInfo h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.userCardInfo p {
  font-size: 14px;
  margin-bottom: 2px;
}

.userCardInfo p span {
  font-weight: 700;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .userCard {
    flex-direction: row;
    align-items: flex-start;
  }

  .userCardImg {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .userCardInfo {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-top: 3%;
    padding-left: 1rem;
    width: 90%;
  }

  .userCard:before {
    width: 300%;
    height: 200px;
    transform: rotate(0);
  }
  .userCardInfo h2 {
    margin-top: 25px;
    font-size: 35px;
  }

  .userCardInfo p span {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
  }
}