.Name{
    position: relative;
}

.Span{
    padding:1rem ;
    font-weight: 600;
    font-size: 1.3rem;
    color: #555555;
    z-index: 1;
}

.ActiveSpan {
    border-bottom: 2px solid #b4695f;
  }

.Span:hover{
    cursor: pointer;
}

.Span:active , .Span:focus{
    border-bottom: 2px solid #b4695f;
}

@media screen and (max-width : 380px) {
    .Span {
        font-size: 1rem;
    }
    
}