.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 90%;
    margin: 2% auto;
    justify-content: space-between;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 20px;
}

.aboutTitle {
    font-size: 2.2em;
    font-weight: normal;
}

.text {
    width: 50%;
    line-height: 1.8em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    padding-right: 3%;
    font-weight: 500;
    text-justify: auto
}

.text .phrase1 {
    margin: 1.5em 0;
}

.image {
    width: 50%;
    text-align: right;
    height: 100%;
}

.image .img1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 2em 0;
}

.blackFrame {
    background-color: var(--magenta-dye-color);
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
.phrase .phrase2{
 font-Weight: bold;
 font-Size: 1em ;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22%;
    padding: 1.2em 0;
    gap: 1.5em;
}

.icon .img2 {
    width: 70%;
    height: 70%;
    text-align: center;
}

.allIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
}

.phrase {
    text-align: center;
    line-height: 1.2em;
    font-size: 1.1em;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

/*******************************/

@media (max-width:1196px) {
    .icon {
        width: 50%;
    }
}

@media (max-width:1100px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .text {
        height: 40%;
        line-height: 1.5em;
        font-size: 1em;
        letter-spacing: 0.1em;
        font-weight: 500;
    }

    .text .phrase1 {
        margin: 1.5em 0;
    }

    .image {
        height: 60%;
        width: 60%;
    }

    .text {
        width: 100%;
    }

}

@media (max-width:818px) {

    .allIcon {

        width: 100%;

    }
}

@media (max-width:670px) {
    .text {

        line-height: 1.3em;
        font-size: 1em;
    }

}

@media (max-width:530px) {
    .aboutContainer {
        width: 92%;
    }

    .icon {
        width: 100%;
    }
}