 
  .logo {
    height: 50px;
    margin-top: -17px;
    margin-left: -6px;
  }
  
  .footer {
position: fixed;
bottom: 0rem;
    margin: 0 auto;
    color: black;
    width: 90%;
  }
  
  .top {
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    border-top: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 20px;
    width: 100%;
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-top: 1px gray solid;
  }
  
  .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  
  .linksColumn {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  
  .linksColumn.middle {
    text-align: center;
  }
  
  .linksColumn.right {
    text-align: center;
  }
  
  .footer .h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-orange);
  }
  
  .p {
    margin: 0;
    width: 70%;
  }
  
  .copyright {
    font-size: 1rem;
  }
  
  .socials {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    gap: 18px;
    height: 56px;
  }
  
  .socials > a {
    font-size: 24px;
  }
  
  .socialIcon {
    color: black;
  }
  
  .socialIcon:hover {
    color: red;
  }
  
  .socialIcon :is(h2, p) {
    display: none;
  }
  
  .link {
    color: black;
    text-decoration: none;
    width: fit-content;
  }
  
  .link:hover {
    color: red;
  }
  
  .activeLink {
    color: red;
    list-style: none;
  }
  
  /* Media queries */
  @media screen and (400px < width < 640px) {
    .linksColumn.middle,
    .linksColumn.right {
      text-align: left;
    }
  }
  
  @media (min-width: 400px) {
    .linksColumn {
      align-items: flex-start;
      text-align: left;
    }
  
    .top .links {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .links {
      margin-bottom: 30px;
    }
  
    .bottom {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      text-align: left;
    }
  
    .top .socials {
      left: 0;
      bottom: 2rem;
      transform: translate(0);
    }
  
    .top {
      margin: 0;
    }
  }
  
  @media (min-width: 640px) {
    .links {
      margin-bottom: 0;
    }
    .linksColumn {
      text-align: left;
    }
    .footer {
      margin: 0 auto;
      padding: 0;
      margin-top: 4rem;
    }
  
    .top .links {
      grid-template-columns: repeat(3, 35%);
      column-gap: 6%;
    }
  
    .top .socials {
      position: static;
    }
  
    .socialIcon :is(h2, p) {
      display: block;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .top .links {
      column-gap: 11%;
    }
  }
  
  @media screen and (width <450px) {
    .logo {
      height: 40px;
      margin: 1rem 0;
    }
  
    .links {
      margin-bottom: 50px;
      justify-items: center;
    }
  
    .top .socials {
      bottom: 3rem;
    }
    .bottom {
      flex-direction: column-reverse;
    }
  
    .linksColumn.middle , .linksColumn.right{
      width: 100%;
    }
  }