.container {
  background-color: #fefefe;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 80px; */
  color: rgb(0, 0, 0);
}

.container nav {
  width: 50%;
}
.footerp{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.link {
  text-decoration: none;
  color: #040404;
  width: fit-content;
  padding: 8px 20px ;
  justify-content: center;
  align-items: center;
  /* padding-left: 5rem; */
  font-size: 18px;
}

.copyright {
  font-size: 1rem;
  width: 40%;
  padding-left: 3rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 3rem; */
  text-align: start;
  width: 100%;
  border-top: 1px gray solid;
}

.socials {
  width: 10%;
  padding-right: 2rem;
}

.socials > a {
  font-size: 24px;
}

.socialIcon {
  color: black;
}

.socialIcon:hover {
  color: #974E44;
}

.socialIcon :is(h2, p) {
  display: none;
}

.list .link:hover {
  color: #974E44
}

.list {
  list-style: none;
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
}




@media (width<1500px) {
  .container nav {
      width: 100%;
  }
}

@media (width<1000px) {

  .container nav {
      width: 100%;
  }
}

@media (width<800px) {
  .container nav {
      width: 100%;
  }

  .link {
      font-size: 16px;

  }
  .bottom{
    display: flex;
    flex-direction: column;
  }
}


@media (width<550px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
    gap: 9px;
}

  .container nav {
      width: 100%;
      flex-direction: column;
      display: flex;
  }
  .bottom{
    display: flex;
    flex-direction: column;
  }
}


@media (width<450px) {
  .container {
      height: fit-content;
      gap: 10px;
      /* margin-right: 4rem; */
      align-items: center;
      justify-content: center;
  }
  .container img{
    margin-left: 4rem;
  }

  .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4rem;
      justify-content: center;
      gap:4px
  }
  .bottom{
    display: flex;
    flex-direction: column;
  }
}