.article{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(222, 213, 213);
    width: 18%;
    gap: 1rem;
    margin: 2rem;
}

.phrase{
color: black;
padding-left: 0.5rem;

}

.rate{
    padding-left: 0.5rem;
}
.cookInfo{
    display: flex;
    flex-direction: row;
    gap: 9rem;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;

}
.catphrase{
    color: #B55D51;
}

.profileImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.categImg{
    width: 100%;
    height:100% ;
    object-fit:cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nameImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.price{
    padding-left: 0.5rem;
}

.imgContaier{
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


