.cardPage{
    width: 90%;
    padding: 20px 0 ;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-height: 650px;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}
.delevryPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.totalPrice{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    border-top: 1px solid #555555;
}
p{
    color: #555555;
}
.titleCard{
    width: 100%;
    font-weight: bold;
    font-size: larger;
}
.buttonConainer{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}
.cardWrapper{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}
@media screen and (max-width : 1200px) {
    .cardPage{
        width: 100%;
    }
}


@media screen  and (max-width : 800px){
    .cardPage{
        padding: 20px;
    }
}

@media screen and (max-width : 300px) {
    .cardPage{
        padding: 5px;
    }
    .price{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    .delevryPart{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    .totalPrice{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
     
        gap: 1rem;
        border-top: 1px solid #555555;
    }
}