.HeroSection {
    width: 100%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
    /* background-image: url(../../Assets/BACKG.jpeg); */
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

 .container{
  height: 100px;
 } 

.image{
    border-radius: 50%;
    width:40% ;
    /* display: flex;
    align-items:center;
    justify-content: center; */
   margin-right: 35rem;
}
.background{
width: 60rem;
background-color: #fee6cb;
height: 48rem;
border-radius: 50%;
position: absolute;
top:-570px ;
left:-150px;
overflow: hidden;
z-index: 0;
}


.phrase{
    width: 35rem;

}

.Nav{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.front{
  position: absolute;
  top: 20px;

}

.front img{
  width: 100%;
  position:absolute;
  transition: transform 0.5s ease-in-out;
  top:-200px
  
}
/* .left{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    z-index: 1;
} */

.customContainer{
  position: absolute;
  width: 20rem; /* Equivalent to w-[20rem] */
  right: 180px; /* Equivalent to right-[180px] */
  top: 450px;
  justify-content: center;
  align-items: center;
}

.customContainer img {
  width: 100%;
  position: absolute;
  z-index: 4;
}

.right{
  display: flex;
  position: relative;
  margin: 0 auto;
}

.carousel{
  position: absolute;
  bottom: -450px;
  left: 100px;
  align-items: center;
}


@media (min-width: 1536px) {
  .customContainer {
    right: 200px; /* Equivalent to 2xl:right-[200px] */
    top: 500px; /* Equivalent to 2xl:top-[500px] */
  }
}

.customContainer img.scale-0 {
  transform: scale(0);
}

.customContainer img.scale-100 {
  transform: scale(1);
  width: 100%;
  position: absolute;
  z-index: 1;
}

.customContainer img {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 2; /* Equivalent to ease-in-out duration-500 */
}




/* style 1 */

.body{
  background-color:#ffe7e2;
  width: 100%;
  background-size: cover;
  height: 930px;
  overflow: hidden;
}

.wave{
  border-color: red;
  position: fixed;
  width: 100%;
  overflow: hidden;
  bottom: 40%;
}

