
  .HeroSection {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    background-image: url(../../Assets/bg-1.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .SloganContainer{
    display: flex;

  }
  
  .phrase{
    font-size: 4rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.phraseDesc{
    font-size: 1.3rem;
    font-family:fantasy;
    color: rgb(91, 85, 85);

}
  .P{
    font-size: 1.5rem;
  }
  
  .left{
    width: 40%;
    height: 15rem;
    padding-left: 4rem;
    margin-top: 4rem;
  }

  
  @media screen and (max-width : 1200px) {
     .left{
      width: 50%;
      margin-top: 0;
     }
     .right{
      width: 50%;
     }
     .SloganContainer{
      height: 7rem;
     }
     .Slogan{
      font-size: 3rem;
     }
  }
  
  @media screen and (max-width : 960px) {
    .Slogan{
      font-size: 2.5rem;
    }
    .SloganContainer{
      height: 7rem;
    }
    .P{
      font-size: 1rem;
    }
    .phrase{
        font-size: 3rem;
    }
  }
  
  @media screen and (max-width : 600px) {
    .SloganContainer{
      height: 7rem;
    }
    .HeroSection{
      /* flex-direction: column-reverse;
      row-gap: 2.5rem;
      padding: 7rem 5rem; */
    }
    .Slogan{
      font-size: 2rem;
    }
    .P{
      font-size: 1rem;
    }
    .left {
      width: 100%;
    }
    .right{
      width: 80%;
    }
  
  }
  
  
  @media screen and (max-width: 460px) {
 .SloganContainer , .left{
      align-items: center;
      text-align: center;
    }
    .HeroSection{
      padding: 0;
      padding-left: 0;
      /* justify-content: space-evenly; */
    }
  }
  
  @media screen and (max-width : 350px ) {
    .SloganContainer{
      height: 8rem;
    }
    .phrase{
        font-size: 3rem;
    }
  }