.mainContainer {
  height: 91vh;
  background-image: url('../../Assets/bg-2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  /* position: relative; */
}
.pageContainer{
height: 100%;
flex-basis: 100%;
/* backdrop-filter: blur(4.5px); */
display: flex;
flex-direction: column;
justify-content:center;
margin-left: 10rem;

}

.div , .inputContainer , .p , .pageContainer{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.title {
  color: #B55D51;
  font-size: 2.5rem;
  display: flex;
  justify-content: start;
  margin: 0 ;
}

.p{
  font-size: 1.3rem;
}

.linkPhrase {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

.linkLogin {
  color: #B55D51;
}

.formContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  position: absolute; */
  left: 20%;
  top: 10%;
  gap: 2rem;
  width: 40%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: left;
  /* gap: 0.1rem; */
}

.orPhrase {
  margin: 7px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width : 1280px) {
  .formContainer {
      height: 100%;

  }
}

@media screen and (min-width: 960px) and (max-width : 1150px) {
  .formContainer {
      width: 40%;
      /* height: 120%; */

  }
}

@media screen and (max-width: 960px) {

  .pageContainer {
      height: 100vh;
      margin-left: 5rem;
  }


}



@media screen and (max-width: 600px) {
   .formContainer {
      width: 60%;
  }
      .pageContainer {
      height: 100vh;
      margin-left: 2rem;
  }
  .title{
      font-size: 1.8rem;
  }
  .p{
      font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .formContainer {
     width: 80%;
 }

}