@tailwind base;
@tailwind components;
@tailwind utilities;

//fonts

@font-face {
  font-family: 'segoepr';
  src: url('./Assets//fonts/segoepr.woff') format('woff'),
    url('./Assets//fonts/segoepr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//general styles
body {
  font-family: segoepr;
  padding: 0px !important;
  scroll-behavior: smooth;
  direction: ltr;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.h-screen {
  height: 80vh;
}